USE [master]
GO
/****** Object:  Database [RentaPeliculas]    Script Date: 27/10/2017 10:59:08 p. m. ******/
CREATE DATABASE [RentaPeliculas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RentaPeliculas', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\RentaPeliculas.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RentaPeliculas_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\RentaPeliculas_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RentaPeliculas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RentaPeliculas]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 27/10/2017 10:59:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categoria](
	[id_Categoria] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 27/10/2017 10:59:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[id_Cliente] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellidos] [varchar](50) NOT NULL,
	[Fecha_Nac] [date] NOT NULL,
	[Direccion] [int] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[id_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Direccion]    Script Date: 27/10/2017 10:59:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Direccion](
	[id_Direccion] [int] NOT NULL,
	[Direccion] [varchar](50) NOT NULL,
	[Ciudad] [varchar](50) NOT NULL,
	[Pais] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Direccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 27/10/2017 10:59:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[id_Inventario] [int] NOT NULL,
	[Disponible] [bit] NOT NULL,
	[Pelicula] [int] NOT NULL,
 CONSTRAINT [PK_Inventario] PRIMARY KEY CLUSTERED 
(
	[id_Inventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pelicula]    Script Date: 27/10/2017 10:59:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pelicula](
	[id_Pelicula] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Duracion] [float] NULL,
	[Descripcion] [text] NULL,
	[Año] [int] NULL,
	[Categoria] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Pelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Renta]    Script Date: 27/10/2017 10:59:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Renta](
	[id_Renta] [int] NOT NULL,
	[Fecha_Renta] [date] NOT NULL,
	[Fecha_Devolucion] [date] NOT NULL,
	[Cliente] [int] NOT NULL,
	[Inventario] [int] NOT NULL,
 CONSTRAINT [PK_Renta] PRIMARY KEY CLUSTERED 
(
	[id_Renta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Categoria] ([id_Categoria], [Nombre]) VALUES (1, N'Accion')
INSERT [dbo].[Categoria] ([id_Categoria], [Nombre]) VALUES (2, N'Terror')
INSERT [dbo].[Categoria] ([id_Categoria], [Nombre]) VALUES (3, N'Comedia')
INSERT [dbo].[Cliente] ([id_Cliente], [Nombre], [Apellidos], [Fecha_Nac], [Direccion]) VALUES (1, N'Jorge', N'Castro', CAST(0x6D1F0B00 AS Date), 1)
INSERT [dbo].[Cliente] ([id_Cliente], [Nombre], [Apellidos], [Fecha_Nac], [Direccion]) VALUES (2, N'Raul', N'Fernandez', CAST(0x75250B00 AS Date), 2)
INSERT [dbo].[Cliente] ([id_Cliente], [Nombre], [Apellidos], [Fecha_Nac], [Direccion]) VALUES (3, N'Samantha', N'Serrato', CAST(0x07240B00 AS Date), 3)
INSERT [dbo].[Direccion] ([id_Direccion], [Direccion], [Ciudad], [Pais]) VALUES (1, N'Calle canaco 214', N'Monterrey', N'Mexico')
INSERT [dbo].[Direccion] ([id_Direccion], [Direccion], [Ciudad], [Pais]) VALUES (2, N'Calle tepito 12', N'Monterrey', N'Mexico')
INSERT [dbo].[Direccion] ([id_Direccion], [Direccion], [Ciudad], [Pais]) VALUES (3, N'Calle dado', N'Monterrey', N'Mexico')
INSERT [dbo].[Inventario] ([id_Inventario], [Disponible], [Pelicula]) VALUES (1, 0, 1)
INSERT [dbo].[Inventario] ([id_Inventario], [Disponible], [Pelicula]) VALUES (2, 1, 2)
INSERT [dbo].[Inventario] ([id_Inventario], [Disponible], [Pelicula]) VALUES (3, 1, 3)
INSERT [dbo].[Renta] ([id_Renta], [Fecha_Renta], [Fecha_Devolucion], [Cliente], [Inventario]) VALUES (1, CAST(0x493C0B00 AS Date), CAST(0x4D3C0B00 AS Date), 1, 1)
INSERT [dbo].[Renta] ([id_Renta], [Fecha_Renta], [Fecha_Devolucion], [Cliente], [Inventario]) VALUES (2, CAST(0x4A3C0B00 AS Date), CAST(0x4B3C0B00 AS Date), 2, 2)
INSERT [dbo].[Renta] ([id_Renta], [Fecha_Renta], [Fecha_Devolucion], [Cliente], [Inventario]) VALUES (3, CAST(0x693C0B00 AS Date), CAST(0x6C3C0B00 AS Date), 3, 3)
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Direccion] FOREIGN KEY([Direccion])
REFERENCES [dbo].[Direccion] ([id_Direccion])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Direccion]
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD  CONSTRAINT [FK_Inventario_Pelicula] FOREIGN KEY([Pelicula])
REFERENCES [dbo].[Pelicula] ([id_Pelicula])
GO
ALTER TABLE [dbo].[Inventario] CHECK CONSTRAINT [FK_Inventario_Pelicula]
GO
ALTER TABLE [dbo].[Renta]  WITH CHECK ADD  CONSTRAINT [FK_Renta_Cliente] FOREIGN KEY([Cliente])
REFERENCES [dbo].[Cliente] ([id_Cliente])
GO
ALTER TABLE [dbo].[Renta] CHECK CONSTRAINT [FK_Renta_Cliente]
GO
ALTER TABLE [dbo].[Renta]  WITH CHECK ADD  CONSTRAINT [FK_Renta_Inventario] FOREIGN KEY([Inventario])
REFERENCES [dbo].[Inventario] ([id_Inventario])
GO
ALTER TABLE [dbo].[Renta] CHECK CONSTRAINT [FK_Renta_Inventario]
GO
USE [master]
GO
