USE [master]
GO
/****** Object:  Database [Produccion]    Script Date: 02/09/2017 09:56:52 a.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Produccion')
BEGIN
CREATE DATABASE [Produccion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Produccion', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Produccion.mdf' , SIZE = 51200KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Produccion_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Produccion_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Produccion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
